.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: $secondaryCl;
  transition: 0.5s;
  border-bottom: 1px solid #C4CDD5;
  &__top{
    background-color: #454F5B;
    padding: 12px 0;
  }
  &__top__text{
    font-size: .9em;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
  }
  &__navbar {
    padding: 20px 0; 
    justify-content: space-between;
  }
  &__left-card{
    display: flex;
    align-items: center;
    gap: 101px;
  }
  &__list {
    gap: 50px;
  }

  &__item {
    transition: 0.4s;
    border-top: 2px solid transparent;

  }
  &__link {
    font-size: 20px;
    font-weight: 300;
    line-height: 23.87px;
    text-align: left;
    color: #161C24 ;
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: $secondaryCl;

    span {
      width: 25px;
      height: 3px;
      background: $primaryCl;
      border-radius: 2px;
    }
  }
  &__btns{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__phone-link{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__phone-link p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.48px;
    color: #454F5B;
  }
  &__btns__part{
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.show__header__shrink {
  box-shadow: 0px 0px 5px $primaryCl;
}

@media (max-width: 1200px) {
  .header {
    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $secondaryCl;
      box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.239);
      transition: 0.5s;
      z-index: 9999;
    }

    &__hamburger {
      display: flex;
    }

    &__show__list {
      left: 0;
    }

    &__item-close {
      position: absolute;
      display: block;
      color: red;
      top: 15px;
      right: 20px;
    }
    &__top__text{
      font-size: .8em;
    }
  }
}
@media (max-width: 650px) {
  .header {
    &__phone-link img,&__phone-link p{
      display: none;
    }
    &__top__text{
      font-size: .7em;
    }
  }
}

@media (max-width: 340px) {
  .header {
    &__top__text{
      font-size: .6em;
    }
    &__list {
      width: 80%;
    }
  }
}

